<h3>Часови</h3>

<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th scope="col">Име и презиме</th>
            <th scope="col">Предмет</th>
            <th scope="col">Датум</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody *ngFor="let z of casoviSortiraniPrvih5" class="table-group-divider">
        <tr>
          <td>{{z.ucenik.ime}} {{z.ucenik.prezime}}</td>
          <td>{{z.predmet}}</td>
          <td>{{z.pocetakCasa}}</td>
          <td>
                <button class="btn btn-success" (click)="pridruziSe(z)">Придружи се часу</button>
            </td>
        </tr>
    </tbody>
</table>

<h3>Листа захтева за часовима</h3>

<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th scope="col">Име и презиме</th>
            <th scope="col">Предмет</th>
            <th scope="col">Тема</th>
            <th *ngIf="imaViseOdTriOcene" scope="col">Просечна оцена ученика</th>
            <th scope="col" colspan="2">Прихвати/Одбиј</th>
        </tr>
    </thead>
    <tbody *ngFor="let z of zahteviCasoviUser" class="table-group-divider">
        <tr>
          <td>{{z.ucenik.ime}} {{z.ucenik.prezime}}</td>
          <td>{{z.predmet}}</td>
          <td>{{z.tema}}</td>
          <td *ngIf="imaViseOdTriOcene">{{z.prosecnaOcena}}</td>
          <td>
                <button class="btn btn-success" [disabled]="neodobravanje" (click)="odobriZahtev(z)">Прихвати</button>
            </td>
            <td>
                <button class="btn btn-danger" [disabled]="odobravanje" (click)="odbijZahtev(z)">Одбиј</button>

          </td>


        </tr>



    </tbody>
</table>

<div *ngIf="odbijanje">
  <input type="text" class="form-control" (change)="unesiObrazlozenje()" [(ngModel)]="razlog" required

  #obrazlozenje="ngModel" [class.is-invalid]="(obrazlozenje.invalid && obrazlozenje.touched) ">
  <div class="invalid-feedback"  *ngIf="(obrazlozenje.invalid && obrazlozenje.touched) && obrazlozenje.errors">
    <p *ngIf="obrazlozenje.errors['required']">Морате унети корисничко име.</p>
</div>

<button type="button" class="btn btn-secondary" data-dismiss="modal" [disabled]="!unetoObrazlozenje" (click)="izmeni()">Потврди</button>


</div>


{{zahtevZaObradu.nastavnik.korisnickoIme}}

<div class="modal" tabindex="-1" role="dialog" style="display: none;" #myModal>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Одбиј захтев</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Your modal content goes here -->


      </div>
    </div>
  </div>
