<div class="container mt-5">

    <div *ngIf="znaStaru">
        <form #changePassForm="ngForm">

          <div class="form-group">
            <label for="lozinka">Стара лозинка:</label>
            <input type="password" #stara="ngModel" class="form-control" id="lozinka"
            [class.is-invalid]="(stara.invalid && stara.touched)"
            (input)="unetaStara()" [(ngModel)]="staraLozinka" name="lozinka" required>
            <div class="invalid-feedback" *ngIf="(stara.invalid && stara.touched) && stara.errors">
              <p *ngIf="stara.errors['required']">Морате унети стару лозинку.</p>
          </div>
          <div class="invalid-feedback" *ngIf="invalidStara">
            <p *ngIf="invalidStara">Погрешна стара лозинка.</p>
        </div>
          </div>

          {{staraLozinka}}
          {{staraLozinkaKorisnika}}


          <div class="form-group">
            <label for="novalozinka">Нова лозинка:</label>
            <input type="password" #nova="ngModel" class="form-control" id="novalozinka" [(ngModel)]="novaLozinka" name="novalozinka" required
            [class.is-invalid]="(nova.invalid && nova.touched) "
            (input)="unetaNova()" pattern="^(?=.*[A-Z])(?=.*[a-z]{3,})(?=.*\d)(?=.*[@$!%*.?&])[A-Za-z][A-Za-z\d@$!.%*?&]{5,9}$" name="lozinka" required>
            <div class="invalid-feedback" *ngIf="(nova.invalid && nova.touched) && nova.errors">
              <p *ngIf="nova.errors['required']">Морате унети нову лозинку.</p>
              <p *ngIf="nova.errors['pattern']"> Лозинка мора имати минимално 6 карактера. <br>
                Лозинка мора имати максимално 10 карактера. <br>
                Лозинка мора имати бар једно велико слово, бар три мала слова, један број и један специјални карактер (@$!.%*?&). <br>
                Лозинка мора почињати великим словом.</p>

          </div>
          </div>

          <div class="form-group">
            <label for="potvrdalozinka">Потврди нову лозинка:</label>
            <input type="password" class="form-control" id="potvrdalozinka" [(ngModel)]="potvrdaLozinka" name="potvrdalozinka" required
            #lozinka="ngModel" (input)="unetaPotvrda()" pattern="^(?=.*[A-Z])(?=.*[a-z]{3,})(?=.*\d)(?=.*[@$!%*.?&])[A-Za-z][A-Za-z\d@$!.%*?&]{5,9}$" [class.is-invalid] = "lozinka.invalid && lozinka.touched">
            <div class="invalid-feedback" *ngIf="(lozinka.invalid && lozinka.touched) && lozinka.errors">
              <p *ngIf="lozinka.errors['pattern']"> Лозинка мора имати минимално 6 карактера. <br>
              Лозинка мора имати максимално 10 карактера. <br>
              Лозинка мора имати бар једно велико слово, бар три мала слова, један број и један специјални карактер (@$!.%*?&). <br>
              Лозинка мора почињати великим словом.</p>
              <p *ngIf="lozinka.errors['required']">Морате унети лозинку.</p>

          </div>
          <div class="invalid-feedback" *ngIf="invalidPotvrda">
            <p>Лозинке се не поклапају.</p>
          </div>
          </div>

          <a (click)="pitanje()">Не знам стару лозинку</a>

        <button type="button" class="btn btn-primary" [disabled]="changePassForm.form.invalid || invalidStara || invalidPotvrda" (click)="potvrdi()">Потврди</button>
        </form>
        {{message}}

    </div>

    <div *ngIf="!znaStaru && !dalje">
        <form>
        <div class="form-group">
            <label for="korisnickoIme">Корисничко име:</label>
            <input type="input" class="form-control" id="korisnickoIme" [(ngModel)]="korisnickoIme" name="korisnickoIme" required>


        </div>
        <button type="button" class="btn btn-primary" (click)="unetoKorisnickoIme()">Даље</button>
    </form>
    </div>

    <div *ngIf="dalje">
        <form>
        <div class="form-group">
            <label for="bP">Безбедоносно питање:</label>
            {{bezbedonosnoPitanje}}

            <label for="odgovor">Одговор:</label>

            <input type="input" class="form-control" id="odgovor" [(ngModel)]="odgovor" name="korisnickoIme" required>
            <button type="button" class="btn btn-primary" (click)="potvrdiOdgovor()">Даље</button>
        </div>
    </form>
    </div>

    <div *ngIf="tacanOdgovor">
        <form>


            <div class="form-group">
              <label for="novalozinka">Нова лозинка:</label>
              <input type="password" class="form-control" id="novalozinka" [(ngModel)]="novaLozinka" name="novalozinka" required>
            </div>

            <div class="form-group">
              <label for="potvrdalozinka">Потврди нову лозинка:</label>
              <input type="password" class="form-control" id="potvrdalozinka" [(ngModel)]="potvrdaLozinka" name="potvrdalozinka" required>
            </div>

            <button type="button" class="btn btn-primary" (click)="potvrdiNovu()">Потврди</button>

          </form>

    </div>
</div>
