<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="odjaviSe()">Одјави се</button>
<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="ucenikProfil()">Профил</button>
<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="ucenikCasovi()">Часови</button>



<input class="search form-control" [(ngModel)]="searchIme" (change)="onSearch()" placeholder="Име" />
<input class="search form-control" [(ngModel)]="searchPrezime" (change)="onSearch()" placeholder="Презиме" />
<input class="search form-control" [(ngModel)]="searchPredmet" (change)="onSearch()" placeholder="Предмет" />

<div class="top_margin15">
  <button (click)="sortImeRastuce()" class="btn btn-secondary me-2">Име(растуће)</button>
  <button (click)="sortImeOpadajuce()" class="btn btn-secondary me-2">Име(опадајуће)</button>
  <button (click)="sortPrezimeRastuce()" class="btn btn-secondary me-2">Презиме(растуће)</button>
  <button (click)="sortPrezimeOpadajuce()" class="btn btn-secondary me-2">Презиме(опадајуће)</button>
  <button (click)="sortPredmetRastuce()" class="btn btn-secondary me-2">Предмет(растуће)</button>
  <button (click)="sortPredmetOpadajuce()" class="btn btn-secondary me-2">Предмет(опадајуће)</button>

</div>
{{user.korisnickoIme}}
{{user.tipSkole}}
<h3> Ангажовани наставници </h3>
<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th scope="col">Предмет</th>
            <th scope="col">Име и презиме наставника</th>
        </tr>
    </thead>
    <tbody *ngFor="let u of angazovanjaUserSearch" class="table-group-divider">
        <tr>
          <td>{{u.predmet}}</td>
          <td>
            <table class="table table-bordered table-sm">
                <tbody *ngFor="let n of u.nastavnici">
                  <tr >
                    <td>{{n.ime}} {{n.prezime}}</td>
                  </tr>
                  <tr>
                    <a href="detalji-nastavnik" (click)="pogledajDetalje(n.korisnickoIme)"> Погледајте детаље</a>
                  </tr>
                </tbody>
              </table>
          </td>

          </tr>
    </tbody>
</table>
