<form class="login_form">
    <div class="form-group top_margin5">
        <label for="inputUsername">Корисничко име</label>
        <input name="username" [(ngModel)]="korisnickoIme" (input)="unetoKorisnickoIme()" type="text" class="form-control input_field_max_width" required id="inputUsername" aria-describedby="emailHelp" >
    </div>
    <div class="form-group top_margin5">
        <label for="inputPassword">Лозинка</label>
        <input name="password" [(ngModel)]="lozinka" (input)="unetaLozinka()" type="password" class="form-control input_field_max_width" required id="inputPassword" >
    </div>
    <div class="confirm top_margin15">
        <button (click)="login()" [disabled]="invalidIme || invalidLozinka" class="btn btn-primary">Пријаве</button>
        <p class="confirm err_msg"></p>
    </div>
</form>

{{message}}

{{u.tip}}

<div class="login_form">
    <p>Региструјте се <a href="register">овде</a></p>
</div>

