
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Детаљи наставника</h3>
                </div>
                <div class="card-body">
                    <!-- Profile Picture -->
                    <img src="{{nastavnik.profilnaSlika}}" class="img-fluid mb-3" alt="Профилна слика">

                    <!-- User Information Form -->
                    <form>
                        <!-- First Name -->
                        <div class="form-group">
                            
                            <label for="firstName">Име:</label>
                            <input type="text" class="form-control" id="firstName" value="{{nastavnik.ime}}" readonly>
                        </div>

                        <!-- Last Name -->
                        <div class="form-group">
                            <label for="lastName">Презиме:</label>
                            <input type="text" class="form-control" id="lastName" value={{nastavnik.prezime}} readonly>
                        </div>

                        <!-- Email -->
                        <div class="form-group">
                            <label for="email">И-мејл:</label>
                            <input type="email" class="form-control" id="email" value={{nastavnik.imejl}} readonly>
                        </div>

                        <!-- Phone Number -->
                        <div class="form-group">
                            <label for="phoneNumber">Контакт телефон:</label>
                            <input type="tel" class="form-control" id="phoneNumber" value={{nastavnik.kontaktTelefon}} readonly>
                        </div>

                        <!-- School -->
                        <div class="form-group" >
                            <label for="predmet">Предмети</label>
                            <div *ngFor="let predmet of nastavnik.predmet">
                                
                            <input type="text" class="form-control" id="predmet" value={{predmet}} readonly>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Закажи час</h4>
            <form id="zakaziCasForm" #zakaziCasForm="ngForm">
                <div class="form-group">
                    <label for="predmet">Изабери предмет:</label>
                    <select class="form-control" [class.is-invalid]="!odabranPredmet && predmetC.touched" #predmetC="ngModel"
                     (input)="odabirPredmeta()" id="predmet" name="predmet" [(ngModel)]="predmet" required>
                     
                        <option *ngIf="jedanPredmet" [value]="jediniPredmet" disabled>{{jediniPredmet}}</option>
                        <ng-container *ngIf="!jedanPredmet">
                            <option *ngFor="let p of listaPredmeta" [value]="p">{{p}}</option>
                          </ng-container>
                    </select>
                    {{predmet}}
                    <div class="invalid-feedback" *ngIf="!odabranPredmet && predmetC.touched">
                      <p>Морате одабрати предмет.</p>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="dt">Изабери датум и време:</label>
                        <input type="datetime-local" class="form-control" [(ngModel)]="datumVreme" id="dt" name="dt">
                  </div>



                <div class="form-group">
                    <label for="tema">Тема:</label>
                    <input type="text" class="form-control" id="tema" [(ngModel)]="temaCas" name="tema" required
                      #temaC="ngModel" [class.is-invalid]="(temaC.invalid && temaC.touched)">
                      <div class="invalid-feedback" *ngIf="(temaC.invalid && temaC.touched) && temaC.errors">
                        <p *ngIf="temaC.errors['required']">Морате унети тему.</p>
                    </div>
                  </div>

                  
                <div class="form-group">
                    
                    <input type="checkbox"  (change)="onCheckboxChange($event)">Желим дупли час
                  </div>

                  <div class="confirm top_margin15">
                    <button type="submit" (click)="zakaziCas()" class="btn btn-primary" [disabled]="zakaziCasForm.form.invalid">Закажи час</button>
                    <p class="confirm text-danger">{{message}}</p>
                </div>        

                
            </form>
        </div>
    </div>
</div>
