
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Профил корисника</h3>
                </div>
                <div class="card-body">
                    <!-- Profile Picture -->
                    <img src="{{user.profilnaSlika}}" class="img-fluid mb-3" alt="Профилна слика">

                    <!-- User Information Form -->
                    <form>
                        <!-- First Name -->
                        <div class="form-group">
                            
                {{user.ime}}
                            <label for="firstName">Име:</label>
                            <input type="text" class="form-control" id="firstName" value="{{user.ime}}" readonly>
                        </div>

                        <!-- Last Name -->
                        <div class="form-group">
                            <label for="lastName">Презиме:</label>
                            <input type="text" class="form-control" id="lastName" value={{user.prezime}} readonly>
                        </div>

                        <!-- Address -->
                        <div class="form-group">
                            <label for="address">Адреса:</label>
                            <input type="text" class="form-control" id="address" value="{{user.adresa}}" readonly>
                        </div>

                        <!-- Email -->
                        <div class="form-group">
                            <label for="email">И-мејл:</label>
                            <input type="email" class="form-control" id="email" value={{user.imejl}} readonly>
                        </div>

                        <!-- Phone Number -->
                        <div class="form-group">
                            <label for="phoneNumber">Контакт телефон:</label>
                            <input type="tel" class="form-control" id="phoneNumber" value={{user.kontaktTelefon}} readonly>
                        </div>

                        <!-- School -->
                        <div class="form-group">
                            <label for="school">Предмети:</label>
                            <div *ngFor="let predmet of user.predmet">
                                
                                <input type="text" class="form-control" id="predmet" value={{predmet}} readonly>
                                </div>
                        </div>

                        <div class="form-group">
                            <label for="school">Узраст:</label>
                            <div *ngFor="let uzrast of user.uzrast">
                                
                                <input type="text" class="form-control" id="predmet" value={{uzrast}} readonly>
                                </div>
                        </div>

                        <!-- Update Button -->
                        <button type="button" class="btn btn-primary" (click)="openModal()">
                            Измени податке
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- YourComponent.component.html -->

<div class="modal" tabindex="-1" role="dialog" style="display: none;" #myModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Измени податке</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Your modal content goes here -->
        <form id="changeFormNastavnik" #changeFormNastavnik="ngForm">

          <div class="form-group">
            <label for="profilnaSlika">Профилна слика:</label>
            <input type="file" class="form-control-file" id="profilnaSlika" [class.is-invalid]="invalidImage" (input)="onImageFileSelected($event)" accept=".png, .jpg, .jpeg"
            >
            <div class="invalid-feedback" *ngIf="invalidImage">
              <p> {{messageImage}}</p>
          </div>
          </div>

        <div class="form-group">
            <label for="ime">Име:</label>
            <input type="text" class="form-control" [(ngModel)]="promenaIme">
            
          </div>

          <div class="form-group">
            <label for="prezime">Презиме:</label>
            <input type="text" class="form-control"[(ngModel)]="promenaPrezime">
           
          </div>


          <div class="form-group">
            <label for="imejl">И-мејл адреса:</label>
            <input type="email" class="form-control" id="imejl" [(ngModel)]="promenaImejl" (change)="onEmailChange($event)" name="imejl" 
            #imejl="ngModel" pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.com" [class.is-invalid]="(imejl.invalid && imejl.touched) || emailError">
            <div class="invalid-feedback" *ngIf="((imejl.invalid && imejl.touched) && imejl.errors)">
                <p *ngIf="imejl.errors['pattern'] && !imejl.errors['required']">И-мејл адреса мора бити у формату example@example.com</p>
            </div>
            <div class="invalid-feedback" *ngIf="emailError">
              <p>{{emailMessage}}</p>

            </div>
          </div>

          <div class="form-group">
            <label for="adresa">Адреса:</label>
            <input type="text" class="form-control" [(ngModel)]="promenaAdresa">            
          </div>

          <div class="form-group">
            <label for="kontaktTelefon">Контакт телефон:</label>
            <input type="text" class="form-control" id="kontaktTelefon" [(ngModel)]="promenaKontaktTelefon" name="kontaktTelefon" 
            #telefon="ngModel" pattern="^\+3816\d{7,8}$" [class.is-invalid]="telefon.invalid && telefon.touched">
            <div class="invalid-feedback" *ngIf="(telefon.invalid && telefon.touched) && telefon.errors">
                
              <p *ngIf="telefon.errors['pattern']">Контакт телефон мора бити у формату +3816xxxxxxx.</p>         
          </div>
          </div>

          <div class="form-group" >
            <label for="predmet">Које предмете желите да подучавате?</label>
            <div *ngFor="let p of listaPredmeta">
              <input type="checkbox" (change)="onCheckboxChange(p, $event)">{{p.imePredmeta}}
            </div>
            </div>

            <div class="form-group" >
                <label for="uzrast">Ком узрасту желите да предајете?</label>
                <input type="checkbox" (change)="onCheckboxUzrastChange('Основна школа 1-4. разред', $event)">Основна школа 1-4. разред
                <input type="checkbox" (change)="onCheckboxUzrastChange('Основна школа 5-8. разред', $event)">Основна школа 5-8. разред
                <input type="checkbox" (change)="onCheckboxUzrastChange('Средња школа', $event)">Средња школа
                
              
            </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [disabled]="changeFormNastavnik.form.invalid || invalidImage || emailError" (click)="izmeni()">Потврди</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Затвори</button>
      </div>
    </div>
  </div>
</div>
