<!-- Registracija nastavnika -->
<div>
    <form id="registerFormUcenik" #registerFormNastavnik="ngForm">
      <div class="form-group">
        <label for="korisnickoIme">Корисничко име:</label>
        <input type="text" class="form-control" id="korisnickoIme" (input)="onUsernameChange($event)"  [(ngModel)]="user.korisnickoIme" name="korisnickoIme" required
          #korisnickoIme="ngModel" [class.is-invalid]="(korisnickoIme.invalid && korisnickoIme.touched) || usernameError">
          <div class="invalid-feedback" *ngIf="(korisnickoIme.invalid && korisnickoIme.touched) && korisnickoIme.errors">
            <p *ngIf="korisnickoIme.errors['required']">Морате унети корисничко име.</p>
            </div>
        <div class="invalid-feedback" *ngIf="usernameError">
          <p>{{usernameMessage}}</p>
        </div>
      </div>

      <div class="form-group">
        <label for="lozinka">Лозинка:</label>
        <input type="password" class="form-control" id="lozinka" [(ngModel)]="user.lozinka" name="lozinka" required
        #lozinka="ngModel" pattern="^(?=.*[A-Z])(?=.*[a-z]{3,})(?=.*\d)(?=.*[@$!%*.?&])[A-Za-z][A-Za-z\d@$!.%*?&]{5,9}$" [class.is-invalid] = "lozinka.invalid && lozinka.touched">
        <div class="invalid-feedback" *ngIf="(lozinka.invalid && lozinka.touched) && lozinka.errors">
          <p *ngIf="lozinka.errors['pattern']"> Лозинка мора имати минимално 6 карактера. <br>
          Лозинка мора имати максимално 10 карактера. <br>
          Лозинка мора имати бар једно велико слово, бар три мала слова, један број и један специјални карактер (@$!.%*?&). <br>
          Лозинка мора почињати великим словом.</p>
          <p *ngIf="lozinka.errors['required']">Морате унети лозинку.</p>
          
      </div>
      </div>

      <div class="form-group">
        <label for="bezbedonosnoPitanje">Безбедоносно питање:</label>
        <input type="text" class="form-control" id="bezbedonosnoPitanje" [(ngModel)]="user.bezbedonosnoPitanje" name="bezbedonosnoPitanje" required
        #pitanje="ngModel" [class.is-invalid]="pitanje.invalid && pitanje.touched">
        <div class="invalid-feedback" *ngIf="(pitanje.invalid && pitanje.touched) && pitanje.errors">
          <p *ngIf="pitanje.errors['required']">Морате унети безбедоносно питање.</p>
          
      </div>
      </div>

      <div class="form-group">
        <label for="odgovor">Одговор:</label>
        <input type="text" class="form-control" id="odgovor" [(ngModel)]="user.odgovor" name="odgovor" required
        #odgovor="ngModel" [class.is-invalid]="odgovor.invalid && odgovor.touched">
        <div class="invalid-feedback" *ngIf="(odgovor.invalid && odgovor.touched) && odgovor.errors">
          <p *ngIf="odgovor.errors['required']">Морате унети одговор на безбедоносно питање.</p>              
      </div>
      </div>

      <div class="form-group">
        <label for="ime">Име:</label>
        <input type="text" class="form-control" id="ime" [(ngModel)]="user.ime" name="ime" required
        #ime="ngModel" [class.is-invalid]="ime.invalid && ime.touched">
        <div class="invalid-feedback" *ngIf="(ime.invalid && ime.touched) && ime.errors">
          <p *ngIf="ime.errors['required']">Морате унети име.</p>              
      </div>
      </div>

      <div class="form-group">
        <label for="prezime">Презиме:</label>
        <input type="text" class="form-control" id="prezime" [(ngModel)]="user.prezime" name="prezime" required
        #prezime="ngModel" [class.is-invalid]="prezime.invalid && prezime.touched">
        <div class="invalid-feedback" *ngIf="(prezime.invalid && prezime.touched) && prezime.errors">
          <p *ngIf="prezime.errors['required']">Морате унети презиме.</p>              
        </div>
      </div>

      <div #pol [class.is-invalid]="izabranPol">
        
        <label for="pol">Пол:</label>
        <div class="form-check">
          <input type="radio" id="option1" name="options" value="M" [(ngModel)]="user.pol" class="form-check-input" (change)="validacijaPola()">
          <label for="option1" class="form-check-label">М</label>
        </div>
      
        <div class="form-check">
          <input type="radio" id="option2" name="options" value="Z" [(ngModel)]="user.pol" class="form-check-input" (change)="validacijaPola()">
          <label for="option2" class="form-check-label">Ж</label>
        </div>

        <div class="invalid-feedback" *ngIf="!izabranPol">
          Морате одабрати пол.
        </div>
      </div>

      <div class="form-group">
        <label for="adresa">Адреса:</label>
        <input type="text" class="form-control" id="adresa" [(ngModel)]="user.adresa" name="adresa" required
        #adresa="ngModel" [class.is-invalid]="adresa.invalid && adresa.touched">
        <div class="invalid-feedback" *ngIf="(adresa.invalid && adresa.touched) && adresa.errors">
          <p *ngIf="adresa.errors['required']">Морате унети адресу.</p>              
      </div>
      </div>

      <div class="form-group">
        <label for="kontaktTelefon">Контакт телефон:</label>
        <input type="text" class="form-control" id="kontaktTelefon" [(ngModel)]="user.kontaktTelefon" name="kontaktTelefon" required
        #telefon="ngModel" pattern="^\+3816\d{7,8}$" [class.is-invalid]="telefon.invalid && telefon.touched">
        <div class="invalid-feedback" *ngIf="(telefon.invalid && telefon.touched) && telefon.errors">
          <p *ngIf="telefon.errors['required']">Морате унети контакт телефон.</p>     
          <p *ngIf="telefon.errors['pattern']">Контакт телефон мора бити у формату +3816xxxxxxx.</p>         
      </div>
      </div>

      <div class="form-group">
        <label for="imejl">И-мејл адреса:</label>
        <input type="email" class="form-control" id="imejl" [(ngModel)]="user.imejl" (input)="onEmailChange($event)" name="imejl" required
        #imejl="ngModel" pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.com" [class.is-invalid]="(imejl.invalid && imejl.touched) || emailError">
        <div class="invalid-feedback" *ngIf="((imejl.invalid && imejl.touched) && imejl.errors)">
            <p *ngIf="imejl.errors['required']">Морате унети и-мејл адресу.</p>
            <p *ngIf="imejl.errors['pattern'] && !imejl.errors['required']">И-мејл адреса мора бити у формату example@example.com</p>
        </div>
        <div class="invalid-feedback" *ngIf="emailError">
          <p>{{emailMessage}}</p>

        </div>
        {{emailInput}}
      </div>

      <div class="form-group">
        <label for="profilnaSlika">Профилна слика:</label>
        <input type="file" class="form-control-file" id="profilnaSlika" [class.is-invalid]="invalidImage" (input)="onImageFileSelected($event)" accept=".png, .jpg, .jpeg"
        >
        <div class="invalid-feedback" *ngIf="invalidImage">
          <p> {{messageImage}}</p>
      </div>
      </div>
      
      
      <div class="form-group">
        <label for="biografija">Биографија:</label>
        <input type="file" class="form-control-file" id="biografija"  [class.is-invalid]="invalidFile && initialFile" (input)="onPdfFileSelected($event)" accept=".pdf" required>
        <div class="invalid-feedback" *ngIf="invalidFile && initialFile">
            <p> {{fileMessage}} </p>
        </div>
      </div>

      <div class="form-group"  [class.is-invalid]="invalidPredmeti">
        <label for="predmet">Које предмете желите да подучавате?</label>
        <input type="checkbox"  (change)="onCheckboxChange('matematika', $event)">Математика
        <input type="checkbox"  (change)="onCheckboxChange('fizika', $event)">Физика
        <input type="checkbox"  (change)="onCheckboxChange('hemija', $event)">Хемија
        <input type="checkbox"  (change)="onCheckboxChange('informatika', $event)">Информатика
        <input type="checkbox"  (change)="onCheckboxChange('programiranje', $event)">Програмирање
        <input type="checkbox"  (change)="onCheckboxChange('srpski', $event)">Српски језик и књижевност
        <input type="checkbox"  (change)="onCheckboxChange('engleski', $event)">Енглески језик
        <input type="checkbox"  (change)="onCheckboxChange('nemacki', $event)">Немачки језик
        <input type="checkbox"  (change)="onCheckboxChange('italijanski', $event)">Италијански језик
        <input type="checkbox"  (change)="onCheckboxChange('francuski', $event)">Француски језик
        <input type="checkbox"  (change)="onCheckboxChange('spanski', $event)">Шпански језик
        <input type="checkbox"  (change)="onCheckboxChange('latinski', $event)">Латински језик
        <input type="checkbox"  (change)="onCheckboxChange('biologija', $event)">Биологија
        <input type="checkbox"  (change)="onCheckboxChange('istorija', $event)">Историја
        <input type="checkbox"  (change)="onCheckboxChange('geografija', $event)">Географија
        <input type="checkbox"  (change)="onCheckboxChange('svet', $event)">Свет око нас
        <input type="checkbox"  (change)="dodajPredmetFun()"> 
        <input type="text" class="form-control" id="dodatakPredmet" [disabled]="!dodajPredmet" [(ngModel)]="dodatakPredmet" name="dodatakPredmet" required
        #dodatPredmet="ngModel" [class.is-invalid]="dodatPredmet.touched && dodatPredmet.invalid" >
        <div class="invalid-feedback" *ngIf=" ((dodatPredmet.touched && dodatPredmet.invalid) && dodatPredmet.errors)">
            <p *ngIf="dodatPredmet.errors['required']"> Морате додати предмет.</p>
        </div>
        <div class="text-danger" *ngIf="invalidPredmeti && initialPredmet">
            <p *ngIf="invalidPredmeti">Морате одабрати барем 1 предмет.</p>
        </div>
        </div>

      
      <div class="form-group" [class.is-invalid]="invalidUzrast">
        <label for="uzrast">Ком узрасту желите да предајете?</label>
        <input type="checkbox" (change)="onCheckboxUzrastChange('osnovna:1-4', $event)">Основна школа 1-4. разред
        <input type="checkbox" (change)="onCheckboxUzrastChange('osnovna:5-8', $event)">Основна школа 5-8. разред
        <input type="checkbox" (change)="onCheckboxUzrastChange('srednja', $event)">Средња школа
        
      <div class="text-danger" *ngIf="invalidUzrast && initialUzrast">
        <p *ngIf="invalidUzrast">Морате одабрати барем 1 узраст.</p>
    </div>

      </div>
      
      <div *ngFor="let u of user.uzrast">
        {{u}}
      </div>
      
      <div>
        <label for="upoznavanjeSaSajtom">Где сте чули за наш сајт?</label>
        <input type="text" class="form-control" id="upoznavanjeSaSajtom" [(ngModel)]="user.upoznavanjeSaSajtom" name="upoznavanjeSaSajtom" required>
      </div>

        

      
      <button type="submit" class="btn btn-primary" [disabled]="registerFormNastavnik.form.invalid || invalidUzrast || invalidPredmeti || invalidFile || !izabranPol" (click)="registerNastavnik()">Региструј се</button>
      <p class="text-danger">{{message}}</p>
      {{user.korisnickoIme}}
      {{user.odgovor}}
      {{user.biografija}}
      {{user.upoznavanjeSaSajtom}}
      
    </form>
</div>